@charset "utf-8";

$black : black;
$navy : navy;
$darkblue : darkblue;
$mediumblue : mediumblue;
$indigo : indigo;
$purple : purple;
$darkslateblue : darkslateblue;
$rebeccapurple : rebeccapurple;
$darkred : darkred;
$firebrick : firebrick;
$crimson : crimson;
$orangered : orangered;
$darkgreen : darkgreen;
$green : green;
$teal : teal;

$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;
$black: #000;
$white: #fff;

// Variables

$cw: rgba(255, 255, 255, 0.85);
$bc: midnightblue; /* Fallback */
$moon: yellow;
$cta-bc: mediumblue;

// https://m2.material.io/design/color/the-color-system.html#tools-for-picking-colors
// Primary color, Secondary color, Surface, background, and error colors, "On" colors, Accessible colors, Alternative colors

$b: rgba(0, 0, 0, 1);
$w: rgba(255, 255, 255, 1);
$pr: rgba(159, 123, 225, 1);
$pra: rgba(159, 123, 225, 1);
$se: lawngreen;

$ff: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$lh: 1.5;


// Mixins
@mixin mgpd-zero {
  margin: 0;
  padding: 0;
}

// 🌑 🌒 🌓 🌔 🌕 🌖 🌗🌘🌑 🌒
@counter-style phases-of-the-moon {
  system: fixed;
  symbols: "\1F311""\1F312""\1F313""\1F314""\1F315""\1F316""\1F317""\1F318""\1F31A""\1F31B""\1F31C""\1F31D";
  suffix: " ";
}
// Common element styles

html,
body {
  @include mgpd-zero;
  scroll-behavior: smooth;
}

body {
  color: $cw;
  font-family: $ff;
  background: $bc;
  line-height: $lh;
}

button {
  cursor: pointer;
  white-space: nowrap;
  font-family: inherit;
}

ul,
ol,
dl {
  list-style: none;
  @include mgpd-zero;
}

a {
  color: $pr;
  text-decoration: none;
  // pointer-events: none;
}

:disabled {
  cursor: not-allowed;
  pointer-events: none;
}



// Common class styles

.a11y-nav {
  position: absolute;
  top: -20em;
  width: 100%;
  z-index: var(--z-index-a11y);
}

// Mixins

// Accessibility menu

#root {
  overflow: hidden;
}

#nav-access {
  text-align: center;
  li {
    display: inline-block;
    padding: 1em;
    a {
      &:hover,
      &:focus,
      &:active {
        color: $moon;
        text-decoration: none;
      }
    }
  }
}

.sgd-cta-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $cta-bc;
  .sgd-cta-content {
    flex-grow: 1;
    margin-left: 20px;
    text-align: center;
    // background-color: bisque;
    .sgd-cta-content-container {
      font-weight: 300;
      a{
        display: block;
        padding: 1em;
        color: $cw;
        strong {
          color: $se;
        }
        b {
          color: $w;
          text-decoration: underline;
          text-underline-position: under;
        }
        em {
          font-style: normal;
          font-weight: 300;
          color: $se;
        }
      }
    }
  }
  .sgd-cta-controls {
    text-align: right;
    margin-right: 20px;
    .close {
      border: 0;
      border-radius: 50%;
      background-color: transparent;
      &::before {
        content: 'X';
        color: $white;
        font-size: 1.5em;
        font-weight: 200;
      }
    }
  }
}

.main-document-header-container {
  margin: 0 10%;
  header {
    text-align: center;
    #logo {
      position: relative;
      display: inline-block;
      width: 100%;
      height: 100px;
      line-height: 100px;
      margin: 50px 0;
      .rocket {
        display: inline-block;
        position: absolute;
        top: 14px;
        left: calc(50% - 84px);
        height: 100px;
        line-height: 100px;
        font-size: 3.5em;
        animation-duration: 2s;
        animation-name: rocket_;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
      @keyframes rocket_ {
        from {
          margin-left: -5px;
          margin-top: 10px;
          transform: rotate(0.08turn);
        }
        
        to {
          margin-left: -15px;
          margin-top: 20px;
          transform: rotate(0.09turn);
        }
      }
      .moon {
        display: inline-block;
        position: absolute;
        top: 0;
        left: calc(50% - 55px);
        width: 100px;
        height: 100px;
        background-color: $moon;
        border-radius: 50%;
        font-weight: 700;
        margin: 1em 0 0.25em;
        box-shadow: 0 0 4px 8px #ffff0090;
        animation-duration: 1s;
        animation-name: slidein;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        &::before {
          content: '🍔';
          width: 50px;
          height: 50px;
          font-size: 2em;
        }
      }
      @keyframes slidein {
        from {
          margin-top: 0;
        }
        
        to {
          margin-top: 2px;
          box-shadow: 0 0 8px 0 #ffff0010;
        }
      }
    }

    ul {
      margin-left: -2em;
      li {
        display: inline-block;
        &.active a {
          color: $pra;
          text-decoration-line: underline;
          text-decoration-thickness: 3px;
          text-underline-position: under;
          text-underline-offset: 5px;
          &::before {
            content: "💫";
            display: inline-block;
            margin-right: 0.5em;
          }
        }
        a {
          display: inline-block;
          margin: 1em;
          padding: 0.5em;
          color: $cw;
          font-weight: 600;
          &:hover,
          &:focus,
          &:active {
            color: $pra;
            text-decoration-line: underline;
            text-decoration-thickness: 3px;
            text-underline-position: under;
            text-underline-offset: 1px;
          }
        }
      }
    }
  }
}

.main-wrapper {
  margin: 0 10%;
  .main-content {
    text-align: center;
  }
  h1 {
    font-size: 3em;
    font-weight: 400;
    &::before {
      content: '16 ';
      font-weight: 100;
    }
  }
  h2 {
    font-weight: 200;
  }
  h3 {
    font-weight: 400;
  }
  h4 {
    font-weight: 600;
  }
  #download {
    display: inline-block;
    margin: 4em auto;
  }
  .features {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    li {
      flex: 1;
      display: inline-block;
      div {
        margin: 12%;
        p {
          font-size: 0.85em;
          font-weight: 300;
        }
        a {
          font-weight: bold;
        }
      }
    }
  }
  aside {
    h2 {
      font-size: 2em;
      font-weight: 100;
      &::first-letter {
        font-weight: 200;
        color: $moon;
      }
    }
    .language {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      margin-left: 4em;
      list-style: phases-of-the-moon;
      li {
        text-align: left;
        min-width: 130px;
        line-height: 44px;
      }
    }
  }
  .goto-market-place {
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .tail {
    margin: 5em auto;
    font-size: 0.75em;
  }
}

footer {
  font-size: 0.75em;
  margin: 4em auto;
  p {
    text-align: center;
  }
}

/* CSS */
.button-74 {
  background-color: transparent;
  border: 2px solid $pra;
  border-radius: 30px;
  box-shadow: $pra 4px 4px 0 0;
  color: $pra;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: $w;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}

.guideline {
  z-index: -1;
  div {
    position: fixed;
    font-size: 1px;
    background-color: rgba(154, 205, 50, .75); //yellowgreen;
  }
  .horizontal {
    width: 100vw;
    height: 1px;
    line-height: 1px;
    top: 50%;
  }
  .vertical {
    width: 1px;
    height: 100vh;
    line-height: 100%;
    top:0;
    left: 50%;
  }
}

#toolbar {
  position: fixed;
  bottom: 1em;
  left: 50%;
  transform: translate(-50%, 0);
  .black { background-color: black; }
  .midnightblue { background-color: midnightblue; }
  .indigo { background-color: indigo; }
  .white { background-color: white; color: black; }

  .container {
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: .75em;
    padding: .75em;
    border: 1px solid rgba(255, 255, 255, 0.55);
    border-radius: .75em;
    background-color: rgba(255, 255, 255, 0.55);
    button {
      padding: 1em;
      border: none;
      border-radius: .75em;
      color: rgba(255, 255, 255, 0.85);
      text-transform: capitalize;
    }
    .viewer,
    .zoom,
    .theme {
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      border-radius: .75em;
      background-color: royalblue;
      .value,
      .title {
        display: inline-block;
        padding: 0 1em;
        font-size: .85em;
        white-space: nowrap;
      }
      button {
        border-radius: 0;
        white-space: nowrap;
        background-color: dodgerblue;
        &.active { 
          cursor: none;
          outline-offset: 0;
          pointer-events: none;
        }
        &:first-child {
          border-top-left-radius: .75em;
          border-bottom-left-radius: .75em;
        }
        &:last-child {
          border-top-right-radius: .75em;
          border-bottom-right-radius: .75em;
        }
        &.midnightblue.active {
          background-color: midnightblue;
        }
        &.indigo.active {
          background-color: indigo;
        }
        &.black.active {
          background-color: black;
        }
        &:disabled {
          background-color: dimgray;
        }
        &:hover {
          background-color: deepskyblue;
        }
      }
    }
    #zoomInit,
    #zoomOut,
    #zoomIn {
      border: 0;
      min-width: 42px;
    }
  }
}


.zoom-level {
  margin-bottom: 10em;
  text-align: center;
}

/***********
 * DISPLAY *
 ***********/

.d-none {
  display: none;
}
.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute!important;
  width: 1px!important;
  height: 1px!important;
  padding: 0!important;
  margin: -1px!important;
  overflow: hidden!important;
  clip: rect(0,0,0,0)!important;
  white-space: nowrap!important;
  border: 0!important
}

/*************
 * ANIMATION *
 *************/
