@charset "UTF-8";
html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: rgba(255, 255, 255, 0.85);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: #24292e; /* Fallback */
  line-height: 1.65;
}

ul,
ol,
dl {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  color: rgb(159, 123, 225);
  text-decoration: none;
}

#nav-access {
  text-align: center;
}
#nav-access li {
  display: inline-block;
  padding: 1em;
}

.sgd-cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(159, 123, 225);
}
.sgd-cta-container .sgd-cta-content .sgd-cta-content-container {
  font-weight: 300;
}
.sgd-cta-container .sgd-cta-controls {
  text-align: right;
  margin-right: 20px;
}

.main-document-header-container {
  margin: 0 20%;
}
.main-document-header-container header {
  text-align: center;
}
.main-document-header-container header strong {
  display: inline-block;
  width: 100px;
  line-height: 100px;
  height: 100px;
  background-color: rgb(159, 123, 225);
  border-radius: 50%;
  font-weight: 700;
  margin: 1em 0 0.25em;
  font-size: 4em;
}
.main-document-header-container header ul li {
  display: inline-block;
}
.main-document-header-container header ul li.active a {
  color: rgb(159, 123, 225);
  border-bottom: 1px solid rgb(159, 123, 225);
}
.main-document-header-container header ul li.active a::before {
  content: "💫";
  display: inline-block;
  margin-right: 0.5em;
}
.main-document-header-container header ul li a {
  display: inline-block;
  margin: 1em;
  padding: 0.5em auto;
  color: rgba(255, 255, 255, 0.85);
  font-weight: 600;
}

.main-wrapper {
  margin: 0 12%;
}
.main-wrapper .main-content {
  text-align: center;
}
.main-wrapper h1 {
  font-size: 3em;
  font-weight: 400;
}
.main-wrapper h2 {
  font-weight: 200;
}
.main-wrapper h3 {
  font-weight: 400;
}
.main-wrapper #download {
  display: inline-block;
  margin: 4em auto;
}
.main-wrapper .features {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.main-wrapper .features li {
  flex: 1;
  display: inline-block;
}
.main-wrapper .features li div {
  margin: 12%;
}
.main-wrapper .features li div a {
  font-weight: bold;
}
.main-wrapper aside ul li:nth-of-type(0)::before {
  content: "🌘 ";
}
.main-wrapper aside ul li:nth-of-type(1)::before {
  content: "🌑 ";
}
.main-wrapper aside ul li:nth-of-type(2)::before {
  content: "🌒 ";
}
.main-wrapper aside ul li:nth-of-type(3)::before {
  content: "🌓 ";
}
.main-wrapper aside ul li:nth-of-type(4)::before {
  content: "🌔 ";
}
.main-wrapper aside ul li:nth-of-type(5)::before {
  content: "🌕 ";
}
.main-wrapper .tail {
  margin: 5em auto;
  font-size: 0.85em;
}

footer {
  font-size: 0.85em;
  margin: 4em auto;
}
footer p {
  text-align: center;
}

/* CSS */
.button-74 {
  background-color: transparent;
  border: 2px solid rgb(159, 123, 225);
  border-radius: 30px;
  box-shadow: rgb(159, 123, 225) 4px 4px 0 0;
  color: rgb(159, 123, 225);
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}/*# sourceMappingURL=solid.css.map */